{% extends 'base.html' %}
{% block title %}Thomas virtuel værktøjskasse | Om denne webside!{% endblock %}
{% block content %}
    <h1>Om denne webside</h1>
    Denne side er lavet med Python 3.9 med følgende moduler:<br/>
   <ul> <li>asgiref==3.3.4</li>
<li>dj-database-url==0.5.0</li>
<li>Django==3.2</li>
<li>django-heroku==0.3.1</li>
<li>gunicorn==20.1.0</li>
<li>psycopg2==2.8.6</li>
<li>python-decouple==3.4</li>
<li>pytz==2021.1</li>
<li>sqlparse==0.4.1</li>
<li>whitenoise==5.2.0</li>
   </ul>

    Github kode findes her: <a href="https://github.com/Reventlow/Thomas-Lager-Boks" class="btn btn-primary btn-sm" target="_blank" tabindex="-1" role="button"
               aria-disabled="true">https://github.com/Reventlow/Thomas-Lager-Boks</a>

{% endblock %}