{% extends 'base.html' %}

{% block content %}

    {% if messages %}

        {% for message in messages %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endif %}
    {% if user.is_authenticated %}
        Navn: {{ user.first_name }} {{ user.last_name }} <br/>
        Brugernavn: {{ user.username }}

    {% else %}

    {% endif %}
 <br/> <br/>
    {% if to_dos %}

    <br/>
        <center><h2>Ting der skal implementers</h2></center>

<table class="table">
    <tr class="table-dark">
        <td>Opgave<br/></td>
    </tr>

{% for object in to_dos %}
{% if "U/Nord tools:" in object.item %}
    {% if object.completed %}
                <tr class="table-secondary ">

    <td class="striker">{{ object.item}} </td>
                            {% else %}
                <tr>
                    <td>{{ object.item}} </td>
 {% endif %}
</tr>
 {% endif %}
{% endfor %}
</table>
        {% endif %}
{% endblock %}