{% extends 'base.html' %}

{% block content %}
    <h1>Home</h1>
    {% if user.is_authenticated %}
        Navn: {{ user.first_name }} {{ user.last_name }} <br/>
        Brugernavn: {{ user.username }}

    {% else %}

    {% endif %}
 <br/> <br/>
    {% if to_dos %}

    <br/>
        <center><h2>Ting der skal implementers</h2></center>

<table class="table">
    <tr class="table-dark">
        <td>Opgave<br/></td>
    </tr>

{% for object in to_dos %}
{% if "U/Nord tools:" in object.item %}
    {% if object.completed %}
                <tr class="table-secondary ">

    <td class="striker">{{ object.item}} </td>
                            {% else %}
                <tr>
                    <td>{{ object.item}} </td>

</tr>
 {% endif %}
{% endfor %}
</table>
        {% endif %}
{% endblock %}