
{% extends "base.html" %}
{% load static %}
{% block content %}
    
<p>
    <a class="btn btn-primary" href="{% url 'asset_app_asset_list' 'all' %}">
    Udstyr  oversigt
    </a>
<a class="btn btn-primary" href="{% url 'asset_app_asset_create' %}">
    Opret ny udstyr
    </a>

</p>
    
<table class="table">
    <tr><td>Udstyr</td><td>{{ object.name }}</td></tr>
    <tr><td>Model</td><td><a class="btn btn-secondary" href="{% url 'asset_app_model_hardware_detail' object.model_hardware.pk %}">{{ object.model_hardware }}</a></td></tr>
    <tr><td>Serie nummer</td><td>{{ object.serial }}</td></tr>
    <tr><td>Mac adresse</td><td>{{ object.mac_address }}</td></tr>
    <tr><td>Sidst registreret ip</td><td>{{ object.ip }}</td></tr>
    <tr><td>Indkøbs dato</td><td>{{ object.purchased_date }}</td></tr>
    <tr><td>Udstyrs lokation</td><td><a class="btn btn-secondary" href="{% url 'asset_app_room_detail' object.room.pk %}">{{ object.room }}</a></td></tr>
    <tr><td>Først registret på denne side</td><td>{{ object.created }}</td></tr>
    <tr><td>Sidst opdatteret på denne side</td><td>{{ object.last_updated }}</td></tr>
    <tr><td>Noter</td><td>{{ object.notes|safe}}</td></tr>
    <tr><td>Må udlånes</td><td>{{ object.may_be_loaned }}</td></tr>
    <tr><td>Er udstyret udlånt nu</td><td>{{ object.is_loaned }}</td></tr>
    <tr><td>Meldt savnede</td><td>{{ object.missing }}</td></tr>
</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">Edit</a>

<br/><br/>
{% if object_list %}
        <table class="table">
            <tr class="table-dark">
                <td>Udlåner</td>
                <td>
                    <div style="text-align: center;">Udlånt fra</div>
                </td>
                <td>
                    <div style="text-align: center;">Udlåner</div>
                </td>
                <td>
                    <div style="text-align: center;">Kontakt</div>
                </td>
                <td>
                    <div style="text-align: center;">Udstyr</div>
                </td>
                <td>
                    <div style="text-align: center;">Udlånt fra</div>
                </td>
                <td>
                    <div style="text-align: center;">Retuneres</div>
                </td>
                  <td>
                    <div style="text-align: center;">Skift retunerins status</div>
                </td>

            </tr>
            {% for thisObject in object_list %}


                {% if thisObject.return_date > today and  thisObject.returned == False %}
                <tr>
                {% elif thisObject.return_date < today and thisObject.returned == False %}
                <tr class="table-danger">
                {% elif thisObject.returned == True %}
                <tr class="table-success">
                {% else %}
                <tr class="table-warning">
                {% endif %}

                    <td>{{ thisObject.loaner_name }} <a href="{{ thisObject.get_absolute_url }}"
                                               class="badge rounded-pill bg-dark">Detaljer</a> <a href="{{ thisObject.get_update_url }}"
                                               class="badge rounded-pill bg-dark">Rediger</a>


{% if  thisObject.notes  %}
<!-- Button trigger modal -->
<span  class="badge rounded-pill bg-success" data-bs-toggle="modal" data-bs-target="#exampleModal{{ thisObject.id }}">
  Note
</span>

<!-- Modal -->
<div class="modal fade" id="exampleModal{{ thisObject.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Noter</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
       {{ thisObject.notes|safe}}
      </div>

  </div>
</div>
    </div>




{% endif %}
                    </td>
                    <td>
                    <div style="text-align: center;">{{ thisObject.location }}</div>
                </td>
                <td>
                    <div style="text-align: center;">{{ thisObject.loaner_type }}<br/>{% if thisObject.loaner_quicklink %}<a href="{{ thisObject.loaner_quicklink }}" class="btn btn-success btn-sm" target="_blank">Quicklink</a>{% endif %}</div>
                </td>
                <td>
                    <div style="text-align: center;">{{ thisObject.loaner_telephone_number }}<br/>{{ thisObject.loaner_email }}</div>
                </td>
                <td>
                    <div style="text-align: center;">{{ thisObject.asset }}</div>
                </td>

                <td>
                    <div style="text-align: center;">{{ thisObject.loan_date }}</div>
                </td>
                <td>
                    <div style="text-align: center;">{{ thisObject.return_date }}</div>
                </td>

                <td style="text-align: center;">
                    {% if thisObject.returned %}
                        <a href="{% url 'asset_asset_detail_returned_true' object.id %}" class="btn btn-warning btn-sm " tabindex="-1" role="button" aria-disabled="true">Marker ikke returneret</a>
                    {% else %}
                        <a href="{% url 'asset_asset_detail_returned_false' object.id %}" class="btn btn-success btn-sm " tabindex="-1" role="button" aria-disabled="true">Marker returneret</a>
                    {% endif %}
                </td>
                </tr>

            {% endfor %}
        </table>
    {% endif %}

{% endblock %}