
{% extends "base.html" %}
{% load static %}
{% block content %}
    
<p>
    <a class="btn btn-primary" href="{% url 'asset_app_AssetLog_list' %}">
    Fejlmelding notat liste
    </a>
</p>
    
<table class="table">
    <tr><td>last_updated</td><td>{{ object.last_updated }}</td></tr>
    <tr><td>date_time_log</td><td>{{ object.date_time_log }}</td></tr>
    <tr><td>created</td><td>{{ object.created }}</td></tr>
    <tr><td>notes</td><td>{{ object.notes }}</td></tr>
</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">Edit</a>

{% endblock %}