
{% extends "base.html" %}
{% load static %}
{% block content %}
    
<p>
    <a class="btn btn-primary" href="{% url 'asset_app_asset_list' %}">
    Udstyr  oversigt
    </a>
<a class="btn btn-primary" href="{% url 'asset_app_asset_create' %}">
    Opret ny udstyr
    </a>

</p>
    
<table class="table">
    <tr><td>Udstyr</td><td>{{ object.name }}</td></tr>
    <tr><td>Model</td><td>{{ object.model_hardware }}</td></tr>
    <tr><td>Serie nummer</td><td>{{ object.serial }}</td></tr>
    <tr><td>Mac adresse</td><td>{{ object.mac_address }}</td></tr>
    <tr><td>Sidst registreret ip</td><td>{{ object.ip }}</td></tr>
    <tr><td>Indkøbs dato</td><td>{{ object.purchased_date }}</td></tr>
    <tr><td>Først registret på denne side</td><td>{{ object.created }}</td></tr>
    <tr><td>Sidst opdatteret på denne side</td><td>{{ object.last_updated }}</td></tr>
    <tr><td>Noter</td><td>{{ object.notes }}</td></tr>
    <tr><td>Må udlånes</td><td>{{ object.may_be_loaned }}</td></tr>
</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">Edit</a>

{% endblock %}