{% extends "base.html" %}
{% load static %}
{% block content %}
<script type="text/javascript">
        setTimeout(function(){
            location.reload();
        },600000);
    </script>


<center><h2>Rum der skal gennemgås</h2></center>

<table class="table">
    <tr class="table-dark">
    <td>Rum Navn</td>
    <td>Afdeling</td>
    <td>Rum type</td>
    <td>Sidst gennemgået</td>
    </tr>

{% for object in rooms %}
    {% if object.room_type != "Skole" or object.room_type != "Afdeling"  %}
{% if object.last_inspected == None or object.last_inspected < inspection_time %}
<tr>
    <td>{{ object.name }}</td>
    <td>{{ object.location }}</td>
    <td>{{ object.room_type }}</td>
    {% if object.last_inspected == None or object.last_inspected < overdue %}
            <td class="table-danger">{{ object.last_inspected }}</td>
    {% else %}
            <td class="table-warning">{{ object.last_inspected }}</td>
        {% endif %}
    {% endif %}
</tr>
        {% endif %}
{% endfor %}
</table>



    <br/>

    <center><h2>Personlig udlåning der mangler at blive retuneret</h2></center>

<table class="table">
    <tr class="table-dark">
    <td>Udlåner</td>
    <td>Person type</td>
    <td>Fra afdeling</td>
    <td>Udstyr</td>
    <td>Skulle afleveres</td>
    </tr>

{% for object in loan_assets %}
{% if object.returned == False and object.return_date < today %}
<tr>
    <td>{{ object.loaner_name }}</td>
    <td>{{ object.loaner_type }}</td>
    <td>{{ object.location }}</td>
    <td>{{ object.asset }}</td>
    {% if object.return_date == None or object.return_date < today %}
            <td class="table-danger">{{ object.return_date }}</td>
    {% endif %}
</tr>
        {% endif %}
{% endfor %}
</table>

        <br/>

    <center><h2>Sæt udlåning der mangler at blive retuneret</h2></center>

<table class="table">
    <tr class="table-dark">
        <td>Udlåner</td>
        <td>Fra afdeling</td>
        <td>Formål</td>
        <td>Udstyr type</td>
        <td>Antal</td>
        <td>Skulle afleveres</td>
    </tr>

{% for object in bundelReservations %}
{% if object.returned == False and object.return_date < today %}
<tr>
    <td>{{ object.loaner_name }}</td>
    <td>{{ object.location }}</td>
    <td>{{ object.course_name }}</td>
    <td>{{ object.asset_type }}</td>
    <td>{{ object.amount }}</td>
    {% if object.return_date == None or object.return_date < today %}
            <td class="table-danger">{{ object.return_date }}</td>
    {% endif %}
</tr>
        {% endif %}
{% endfor %}
</table>

    <br/>
        <center><h2>To do listen</h2></center>

<table class="table">
    <tr class="table-dark">
        <td>Opgave</td>
    </tr>

{% for object in to_dos %}
{% if object.completed == False %}
<tr>
    <td>{{ object.item}}</td>
</tr>
        {% endif %}
{% endfor %}
</table>
{% endblock %}