{% extends "base.html" %}
{% load date_tags %}
{% load static %}
{% block content %}
<script type="text/javascript">
        setTimeout(function(){
            location.reload();
        },600000);
    </script>

{% if rooms %}
<center><h2>Rum der skal gennemgås</h2></center>

<table class="table">
    <tr class="table-dark">
    <td>Rum Navn</td>
    <td>Afdeling</td>
    <td>Rum type</td>
    <td>Sidst gennemgået</td>
    </tr>

{% for object in rooms %}

{% if object.last_inspected == None or object.last_inspected < inspection_time %}
<tr>
    <td>{{ object.name }}</td>
    <td>{{ object.location }}</td>
    <td>{{ object.room_type }}</td>
    {% if object.last_inspected == None or object.last_inspected < overdue %}
            <td class="table-danger">{{ object.last_inspected }}</td>
    {% else %}
            <td class="table-warning">{{ object.last_inspected }}</td>

    {% endif %}
</tr>
        {% endif %}
{% endfor %}
</table>
  {% endif %}

{% if loan_assets %}
    <br/>

    <center><h2>Personlig udlåning der mangler at blive retuneret</h2></center>

<table class="table">
    <tr class="table-dark">
    <td>Udlåner</td>
    <td>Person type</td>
    <td>Fra afdeling</td>
    <td>Udstyr</td>
    <td>Skulle afleveres</td>
    </tr>

{% for object in loan_assets %}
{% if object.returned == False and object.return_date >= today %}
<tr>
    <td>{{ object.loaner_name }}</td>
    <td>{{ object.loaner_type }}</td>
    <td>{{ object.location }}</td>
    <td>{{ object.asset }}</td>
    {% if object.return_date == None or object.return_date >= today %}
            <td class="table-danger">{{ object.return_date }}</td>
    {% endif %}
</tr>
        {% endif %}
{% endfor %}
</table>
    {% endif %}


    {% if bundelReservations %}
        <br/>

    <center><h2>Sæt udlåning der mangler at blive retuneret</h2></center>

<table class="table">
    <tr class="table-dark">
        <td>Udlåner</td>
        <td>Fra afdeling</td>
        <td>Formål</td>
        <td><center>Udstyr type</center></td>
        <td><center>Antal</center></td>
        <td>Skulle afleveres</td>
    </tr>

{% for object in bundelReservations %}
{% if object.returned == False and object.return_date < today %}
<tr>
    <td>{{ object.loaner_name }}</td>
    <td>{{ object.location }}</td>
    <td>{{ object.course_name }}</td>
    <td><center>{{ object.asset_type }}</center></td>
    <td><center>{{ object.amount }}</center></td>
    {% if object.return_date == None or object.return_date < today %}
            <td class="table-danger">{{ object.return_date }}</td>
    {% endif %}
</tr>
        {% endif %}
{% endfor %}
</table>

    {% endif %}

     {% if assetCases %}
    <br/>
<center><h2>Sager der er på udstyr eller systemer</h2></center>
        <table class="table">
            <tr class="table-dark">
                <td>Sag</td>
                <td>
                    <div style="text-align: center;">Sag oprettede</div>
                </td>
                <td>
                    <div style="text-align: center;">Udstyr</div>
                </td>
                <td>
                    <div style="text-align: center;">Påvirkningsgrad</div>
                </td>
            </tr>
            {% for object in assetCases %}

                {% if object.solved %}
                    <tr class="table-secondary">
                        {% else %}
                    <tr class="table-{{ object.severity_level.bootstrap_color }}">
                {% endif %}
            <td>{{ object.description }} <br/>
                <small class="text-muted"><em>Sags ansvarlig: {{ object.case_owner }}</em></small>


            </td>
            <td>
                <div style="text-align: center;">{{ object.created|date:'d-m-Y, H:i' }}</div>
            </td>

            <td>
                <div style="text-align: center;">{{ object.asset }}
                    <br/> {{ object.asset.model_hardware.brand }} {{ object.asset.model_hardware.name }}</div>
            </td>
            <td>
                <div style="text-align: center;">{{ object.severity_level }}</div>
            </td>
            </tr>

            {% endfor %}
        </table>
    {% endif %}


<br/>
    <center><h2>Routiner</h2></center>
     {% if routines %}
        <table class="table">
            <tr class="table-dark">
                <td>Beskrivelse</td>
                   <td>
                    <center>Udføres efter antale dage</center>
                </td>
                <td>
                    <center>Sidst gennemført</center>
                </td>
                <td>
                    <center>Lokation</center>
                </td>
            </tr>
            {% for object in routines %}
{% for routinelog in routinelogs %}
         {% if routinelog.date < object.reoccurrence|minusDays  %}
                                        {% if routinelog.routine.name == object.name %}

                <tr>
                    <td>{{ object.name }}<br/>
                <small class="text-muted"><em>Opgave ansvarlig: {{ object.routine_owner}}</em></small> </td>


<td class="table-danger">

                        <center>{{ object.reoccurrence }}</center>
                    </td>


                       <td class="table-danger"> <center>{{ routinelog.date }}</center> </td>





<td>
                        <center>{{ object.room }} - {{ object.room.location }}</center>
                    </td>

                </tr>
             {% endif  %}
 {% endif  %}
{% endfor %}
            {% endfor %}
        </table>
    {% endif %}



{% if one2ones %}
    <br>
    <h2><center>1-til-1 info opgaver</center></h2>
        <table class="table">
            <tr class="table-dark">
                <td>1-til-1 info opgave</td>
                <td>
                    <center>Antal personer informeret</center>
                </td>

            </tr>
             {% for object in one2ones %}

                <tr>
                    <td>{{ object.name }}<br/>
                <small class="text-muted"><em>Opgave ansvarlig: {{ object.job_owner}}</em></small> </td>
                 <td>
                    <center>{{ object.object_count }}</center>
                </td>



                </tr>

            {% endfor %}
        </table>
    {% endif %}


{% if to_dos %}

    <br/>
        <center><h2>To do listen</h2></center>

<table class="table">
    <tr class="table-dark">
        <td>Opgave<br/></td>
    </tr>

{% for object in to_dos %}
{% if object.completed == False %}
<tr>
    <td>{{ object.item}}<br/><small class="text-muted"><em>Opgave ansvarlig: {{ object.to_do_owner}}</em></small></td>
</tr>
        {% endif %}
{% endfor %}
</table>
        {% endif %}
{% endblock %}