{% extends "base.html" %}
{% load static %}
{% block content %}
    <h1>Aflevering de næste 30 dage</h1>

    {{ loan_statTable|safe }}


    <table class="table">
        <tr class="table-dark">
            <td></td>
            <td>poa</td>
        </tr>
        <tr>
            <td>11/09/2021 Lørdag</td>
            <td>
                <div style="text-align: center;">0/1/0</div>
            </td>
        </tr>
        <tr>
            <td>12/09/2021 Søndag</td>
            <td>
                <div style="text-align: center;">0/1/0</div>
            </td>
        </tr>
        <tr>
            <td>13/09/2021 Mandag</td>
            <td>
                <div style="text-align: center;">0/1/0</div>
            </td>
        </tr>
        <tr>
            <td>14/09/2021 Tirsdag</td>
            <td>
                <div style="text-align: center;">0/1/0</div>
            </td>
        </tr>
        <tr>
            <td>15/09/2021 Onsdag</td>
            <td>
                <div style="text-align: center;">0/1/0</div>
            </td>
        </tr>
        <tr>
            <td>16/09/2021 Torsdag</td>
            <td>
                <div style="text-align: center;">0/1/0</div>
            </td>
        </tr>
        <tr>
            <td>17/09/2021 Fredag</td>
            <td>
                <div style="text-align: center;">0/1/0</div>
            </td>
        </tr>
        <tr>
            <td>18/09/2021 Lørdag</td>
            <td>
                <div style="text-align: center;">0/1/0</div>
            </td>
        </tr>
        <tr>
            <td>19/09/2021 Søndag</td>
            <td>
                <div style="text-align: center;">0/1/0</div>
            </td>
        </tr>
        <tr>
            <td>20/09/2021 Mandag</td>
            <td>
                <div style="text-align: center;">0/1/0</div>
            </td>
        </tr>
        <tr>
            <td>21/09/2021 Tirsdag</td>
            <td>
                <div style="text-align: center;">0/1/0</div>
            </td>
        </tr>
        <tr>
            <td>22/09/2021 Onsdag</td>
            <td>
                <div style="text-align: center;">0/1/0</div>
            </td>
        </tr>
        <tr>
            <td>23/09/2021 Torsdag</td>
            <td>
                <div style="text-align: center;">0/1/0</div>
            </td>
        </tr>
        <tr>
            <td>24/09/2021 Fredag</td>
            <td>
                <div style="text-align: center;">0/1/0</div>
            </td>
        </tr>
        <tr>
            <td>25/09/2021 Lørdag</td>
            <td>
                <div style="text-align: center;">0/1/0</div>
            </td>
        </tr>
        <tr>
            <td>26/09/2021 Søndag</td>
            <td>
                <div style="text-align: center;">0/1/0</div>
            </td>
        </tr>
        <tr>
            <td>27/09/2021 Mandag</td>
            <td>
                <div style="text-align: center;">0/1/0</div>
            </td>
        </tr>
        <tr>
            <td>28/09/2021 Tirsdag</td>
            <td>
                <div style="text-align: center;">0/1/0</div>
            </td>
        </tr>
        <tr>
            <td>29/09/2021 Onsdag</td>
            <td>
                <div style="text-align: center;">0/1/0</div>
            </td>
        </tr>
        <tr>
            <td>30/09/2021 Torsdag</td>
            <td>
                <div style="text-align: center;">0/1/0</div>
            </td>
        </tr>
        <tr>
            <td>01/10/2021 Fredag</td>
            <td>
                <div style="text-align: center;">0/1/0</div>
            </td>
        </tr>
        <tr>
            <td>02/10/2021 Lørdag</td>
            <td>
                <div style="text-align: center;">0/1/0</div>
            </td>
        </tr>
        <tr>
            <td>03/10/2021 Søndag</td>
            <td>
                <div style="text-align: center;">0/1/0</div>
            </td>
        </tr>
        <tr>
            <td>04/10/2021 Mandag</td>
            <td>
                <div style="text-align: center;">0/1/0</div>
            </td>
        </tr>
        <tr>
            <td>05/10/2021 Tirsdag</td>
            <td>
                <div style="text-align: center;">0/1/0</div>
            </td>
        </tr>
        <tr>
            <td>06/10/2021 Onsdag</td>
            <td>
                <div style="text-align: center;">0/1/0</div>
            </td>
        </tr>
        <tr>
            <td>07/10/2021 Torsdag</td>
            <td>
                <div style="text-align: center;">0/1/0</div>
            </td>
        </tr>
        <tr>
            <td>08/10/2021 Fredag</td>
            <td>
                <div style="text-align: center;">0/1/0</div>
            </td>
        </tr>
        <tr>
            <td>09/10/2021 Lørdag</td>
            <td>
                <div style="text-align: center;">0/1/0</div>
            </td>
        </tr>
        <tr>
            <td>10/10/2021 Søndag</td>
            <td>
                <div style="text-align: center;">0/1/0</div>
            </td>
        </tr>
        <tr>
            <td>11/10/2021 Mandag</td>
            <td>
                <div style="text-align: center;">0/1/0</div>
            </td>
        </tr>
    </table>



{% endblock %}