
{% extends "base.html" %}
{% load static %}
{% block content %}
    
<p>
      <a class="btn btn-primary" href="{% url 'asset_app_loan_asset_list' %}">
    Udlån oversigt
    </a>
<a class="btn btn-primary" href="{% url 'asset_app_loan_asset_create' %}">
    Opret udlån
    </a>
</p>
    <h2>{{ object.loaner_name }} lån af<br/>>{{ object.asset.name }} ({{ object.asset.model_hardware.brand.name}} {{ object.asset.model_hardware.name }})</h2>
<table class="table">
    <tr><td>Udlåners navn</td><td>{{ object.loaner_name }}</td></tr>
    <tr><td>Udlåners telefon nummer</td><td>{% if object.loaner_telephone_number != "0" %}{{ object.loaner_telephone_number }}{% endif %}</td></tr>
    <tr><td>Udlåners email</td><td>{{ object.loaner_email }}</td></tr>
    <tr><td>Udlåns quicklink</td><td><a href="{{ object.loaner_quicklink }}" class="btn btn-success btn-sm" target="_blank">Quicklink</a></td></tr>
    <tr><td>Udstyr</td><td><a href="{% url 'asset_app_asset_detail' object.asset.id %}" class="btn btn-info btn-sm" >{{ object.asset.name }}</a></td></tr>
    <tr><td>Udstyr model</td><td><a href="{% url 'asset_app_model_hardware_detail' object.asset.model_hardware.id %}" class="btn btn-secondary btn-sm" >{{ object.asset.model_hardware.brand.name}} {{ object.asset.model_hardware.name }}</a></td></tr>
    <tr><td>Udstyr type</td><td><a href="{% url 'asset_app_asset_type_detail' object.asset.model_hardware.asset_type.id %}" class="btn btn-secondary btn-sm" >{{ object.asset.model_hardware.asset_type }}</a></td></tr>
    <tr><td>Elev/kursist udd.</td><td>{{ object.eduName }}</td></tr>
    <tr><td>Elev/kursist udd. slut dato</td><td>{% if object.endEduDate %}{{ object.endEduDate }}{% endif %}</td></tr>
    <tr><td>Udlåns dato</td><td>{{ object.loan_date }}</td></tr>
    <tr><td>Afleverings dato</td><td>{{ object.return_date }}</td></tr>
    <tr><td>Noter</td><td>{{ object.notes|safe}}</td></tr>
    <tr><td>Oprettede på denne side</td><td>{{ object.created }}</td></tr>
    <tr><td>Sidst opdateret på denne side</td><td>{{ object.last_updated }}</td></tr>



</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">Rediger</a>

        {% if smsLogs %}
        <table class="table">
            <tr class="table-dark">
                <td>Modtagers navn</td>
                   <td>
                    <div style="text-align: center;">Modtager mobil</div>
                </td>
                <td>
                    <div style="text-align: center;">Besked</div>
                </td>
                <td>
                    <div style="text-align: center;">Sendt</div>
                </td>
                <td>
                    <div style="text-align: center;">Besked type</div>
                </td>
            </tr>
            {% for object in smsLogs %}
                <tr>
                    <td>
                        {{ object.sms_name }}
                    </td>
                    <td>
                        <div style="text-align: center;">{{ object.sms_number }}</div>
                    </td>
                    <td style="width:55%">
                        {{ object.sms_msg_sent }}
                    </td>
                    <td>
                        <div style="text-align: center;">{{ object.sms_timestamp|date:'d-m-Y H:i:s' }}</div>
                    </td>
                    <td>
                        <div style="text-align: center;">{{ object.sms_msg_type }}</div>
                    </td>
                </tr>

            {% endfor %}
        </table>
    {% endif %}

{% endblock %}