
{% extends "base.html" %}
{% load static %}
{% block content %}

    <h1>Opret udlåns aftale</h1>


    {% if loans %}


            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <div style="text-align: center;"><strong>Der er lån der ikke er blevet afleveret endnu!!!</strong></div>
            <br/>
             <table class="table">
            <tr class="table-dark">
                <td>Udlåner</td>
                <td>
                    <div style="text-align: center;">Udlånt fra</div>
                </td>
                <td>
                    <div style="text-align: center;">Udlåner</div>
                </td>
                <td>
                    <div style="text-align: center;">Kontakt</div>
                </td>
                <td>
                    <div style="text-align: center;">Udstyr</div>
                </td>
                <td>
                    <div style="text-align: center;">Udlånt fra</div>
                </td>
                <td>
                    <div style="text-align: center;">Retuneres</div>
                </td>
                  <td>
                    <div style="text-align: center;">Funktioner</div>
                </td>

            </tr>
            {% for object in loans %}


                {% if object.return_date > today and  object.returned == False %}
                <tr>
                {% elif object.return_date < today and object.returned == False %}
                <tr class="table-danger">
                {% elif object.returned == True %}
                <tr class="table-success">
                {% else %}
                <tr class="table-warning">
                {% endif %}

                    <td>{{ object.loaner_name }} <a href="{{ object.get_absolute_url }}"
                                               class="badge rounded-pill bg-dark">Detaljer</a> <a href="{{ object.get_update_url }}"
                                               class="badge rounded-pill bg-dark">Rediger</a>


{% if  object.notes  %}
<!-- Button trigger modal -->
<span  class="badge rounded-pill bg-success" data-bs-toggle="modal" data-bs-target="#exampleModal{{ object.id }}">
  Note
</span>

<!-- Modal -->
<div class="modal fade" id="exampleModal{{ object.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Noter</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
       {{ object.notes|safe}}
      </div>

  </div>
</div>
    </div>




{% endif %}
                    </td>
                    <td>
                    <div style="text-align: center;">{{ object.location }}</div>
                </td>
                <td>
                    <div style="text-align: center;">{{ object.loaner_type }}<br/>{% if object.loaner_quicklink %}<a href="{{ object.loaner_quicklink }}" class="btn btn-success btn-sm" target="_blank">Quicklink</a>{% endif %}</div>
                </td>
                <td>
                    <div style="text-align: center;">{{ object.loaner_telephone_number }}<br/>{{ object.loaner_email }}</div>
                </td>
                <td>
                    <div style="text-align: center;">{{ object.asset.name }}<br/>{{ object.asset.model_hardware.asset_type }}<br/>{{ object.asset.model_hardware.name }}</div>
                </td>

                <td>
                    <div style="text-align: center;">{{ object.loan_date }}</div>
                </td>
                <td>
                    <div style="text-align: center;">{{ object.return_date }}</div>
                </td>

                <td style="text-align: center;">
                    {% if object.returned %}
                        <a href="{% url 'asset_app_loan_asset_returned_true' object.id %}" class="btn btn-warning btn-sm " tabindex="-1" role="button" aria-disabled="true">Marker ikke returneret</a>
                    {% else %}
                        <a href="{% url 'asset_app_loan_asset_returned_false' object.id %}" class="btn btn-success btn-sm " tabindex="-1" role="button" aria-disabled="true">Marker returneret</a>
                        {% if object.return_date < today %}
                            <br/><br/><a href="{% url 'asset_app_loan_asset_sms_button_late_return' object.id %}" class="btn btn-primary btn-sm " tabindex="-1" role="button" aria-disabled="true">Send rykker Sms</a>
                        {% else %}
                            <br/><br/><a href="{% url 'asset_app_loan_asset_sms_button_return_reminder' object.id %}" class="btn btn-primary btn-sm " tabindex="-1" role="button" aria-disabled="true">Send påmindelse Sms</a>
                        {% endif %}
                    {% endif %}
                </td>
                </tr>

            {% endfor %}

                {% for loan in loans %}

                 {% endfor %}
             </table>
            </div>
<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>

    {% endif %}



        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <table class="table table-borderless">
               <tr>
  <td>  {{form.as_p}}</td>
    <td><input type="submit" value="Gem udlån" id="save_loan" class="btn btn-primary"></td>
    </tr>
    </table>

           </form>

    {% endblock %}
