
{% extends "base.html" %}
{% load remove_email %}
{% block content %}

    <div><a class="btn btn-primary" href="{% url 'asset_app_loan_asset_create' user_email="empty" %}">Reg nyt udlån</a> <a class="btn btn-info" href="{% url 'asset_app_dashboard_return' %}">Retur oversigt</a> <a class="btn btn-success" href="{% url 'asset_app_loan_excel_list'  %}">Exporter til excel</a></div>
<br/>
     <h1>{{ loab_title }}</h1>

    <br/>
    {% if messages %}

        {% for message in messages %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endif %}

    {% if object_list %}
        <table class="table">
            <tr class="table-dark">
                <td>Udlåner</td>

                <td>
                    <div style="text-align: center;">Udlåner</div>
                </td>

                <td>
                    <div style="text-align: center;">Udstyr</div>
                </td>
                <td>
                    <div style="text-align: center;">Udlånt fra</div>
                </td>
                <td>
                    <div style="text-align: center;">Retuneres</div>
                </td>
                               <td>
                    <div style="text-align: center;">Udd info</div>
                </td>
                  <td>
                    <div style="text-align: center;">Funktioner</div>
                </td>

            </tr>
            {% for object in object_list %}


                {% if dropped_out_of_school == True %}
                <tr class="table-danger">
                {% else %}
                <tr>
                {% endif %}

                    <td>{{ object.loaner_name }}<br>
                    {% if object.loaner_telephone_number != "0" %}
                        Tlf: {{ object.loaner_telephone_number }}<br/>
                    {% else %}
                        Tlf: Ingen nummer registret<br/>
                    {% endif %}
                    email: {{ object.loaner_email }}<br/>
                        <strong>Udlånt fra afd: {{ object.location }}</strong>
                     <a href="{{ object.get_absolute_url }}"
                                               class="badge rounded-pill bg-dark">Detaljer</a>
                        <a href="{{ object.get_update_url }}" id="school_status_{{ object.loaner_email|remove_email }}"
                                               class="badge rounded-pill bg-dark">Rediger</a>


{% if  object.notes  %}
<!-- Button trigger modal -->
<span  class="badge rounded-pill bg-success" data-bs-toggle="modal" data-bs-target="#exampleModal{{ object.id }}">
  Note
</span>

<!-- Modal -->
<div class="modal fade" id="exampleModal{{ object.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Noter</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
       {{ object.notes|safe}}
      </div>

  </div>
</div>
    </div>




{% endif %}
                    </td>
                <td>
                {% if object.dropped_out_of_school %}
                    <div style="text-align: center;"><strong>Udgået {{ object.loaner_type }}!!!</strong><br/>{% if object.loaner_quicklink %}<a href="{{ object.loaner_quicklink }}" id="quicklink_{{ object.loaner_type|lower }}_dropped_out" class="btn btn-success btn-sm" target="_blank">Quicklink</a>{% endif %}</div>
                {% else %}
                    <div style="text-align: center;">{{ object.loaner_type }}<br/>{% if object.loaner_quicklink %}<a href="{{ object.loaner_quicklink }}" id="quicklink_{{ object.loaner_type|lower }}" class="btn btn-success btn-sm" target="_blank">Quicklink</a>{% endif %}</div>
                {% endif %}
                </td>

                <td>
                    <div style="text-align: center;">{{ object.asset.name }}<br/>{{ object.asset.model_hardware.asset_type.name }}</div>
                </td>

                <td>
                    <div style="text-align: center;">{{ object.loan_date|date:'d-m-Y' }}</div>
                </td>
                <td>
                    <div style="text-align: center;">{{ object.return_date|date:'d-m-Y' }}</div>
                </td>
            <td>
                    <div style="text-align: center;">{{ object.responsible_teacher_initials }}<br>{{ object.eduName }}</div>
                </td>
                <td style="text-align: center;">
                    {% if object.returned %}
                        <a href="{% url 'asset_asset_detail_filter_returned_true' object.location object.return_date object.returned "currentDate" object.id %}" class="btn btn-warning btn-sm " tabindex="-1" role="button" aria-disabled="true">Marker ikke returneret</a>
                    {% else %}
                        <a href="{% url 'asset_asset_detail_filter_returned_false' object.location object.return_date object.returned "currentDate" object.id %}" class="btn btn-success btn-sm " tabindex="-1" role="button" aria-disabled="true">Marker returneret</a>
                        {% if object.return_date < today %}
                            {% if object.loaner_telephone_number != "0" %}
                                <br/><br/><a href="{% url 'asset_app_loan_asset_sms_button_late_return' object.id %}" class="btn btn-primary btn-sm " tabindex="-1" role="button" aria-disabled="true">Send rykker Sms</a>
                            {% endif %}
                        {% else %}
                            {% if object.loaner_telephone_number != "0" %}
                                <br/><br/><a href="{% url 'asset_app_loan_asset_sms_button_return_reminder' object.id %}" class="btn btn-primary btn-sm " tabindex="-1" role="button" aria-disabled="true">Send påmindelse Sms</a>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                </td>
                </tr>

            {% endfor %}
        </table>
    {% endif %}

{% endblock %}
