
{% extends "base.html" %}
{% load static %}
{% block content %}
    
<p>
    <a class="btn btn-light" href="{% url 'asset_app_loan_asset_list' %}">
    loan_asset Listing
    </a>
</p>
    
<table class="table">
    <tr><td>Udlåners navn</td><td>{{ object.loaner_name }}</td></tr>
    <tr><td>Udlåners adresse</td><td>{{ object.loaner_address }}</td></tr>
    <tr><td>Udlåners telefon nummer</td><td>{{ object.loaner_telephone_number }}</td></tr>
    <tr><td>Udlåners email</td><td>{{ object.loaner_email }}</td></tr>
    <tr><td>Udlåns dato</td><td>{{ object.loan_date }}</td></tr>
    <tr><td>Afleverings dato</td><td>{{ object.return_date }}</td></tr>
    <tr><td>Udlåns quicklink</td><td>{{ object.loaner_quicklink }}</td></tr>
    <tr><td>Noter</td><td>{{ object.notes }}</td></tr>
    <tr><td>Oprettede på denne side</td><td>{{ object.created }}</td></tr>
    <tr><td>Sidst opdateret på denne side</td><td>{{ object.last_updated }}</td></tr>



</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">Edit</a>

{% endblock %}