
{% extends "base.html" %}
{% load static %}
{% block content %}
    
<p>
    <a class="btn btn-light" href="{% url 'asset_app_model_list' %}">
    model Listing
    </a>
</p>
    
<table class="table">
    <tr><td>Model</td><td>{{ object.name }}</td></tr>
    <tr><td>Noter</td><td>{{ object.notes }}</td></tr>
    <tr><td>Oprettede på denne side</td><td>{{ object.created }}</td></tr>
    <tr><td>Sidst opdateret</td><td>{{ object.last_updated }}</td></tr>
</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">Edit</a>

{% endblock %}