{% extends "base.html" %}
{% load static %}
{% block content %}



<center><h1>Rum</h1></center>

<table class="table">
    <tr class="table-dark">
    <td>Rum Navn</td>
    <td>Afdeling</td>
    <td>Rum type</td>
    <td>Sidst gennemgået</td>
    </tr>

{% for object in room.name_set.all %}

<tr>
    <td>{{ object.name }}</td>
    <td>{{ object.location }}</td>
    <td>{{ object.room_type }}</td>
    {% if object.last_updated == None %}
            <td class="btn-danger">{{ object.last_updated }}</td>
    {% else %}
            <td>{{ object.last_updated }}</td>
    {% endif %}
</tr>
{% endfor %}
</table>
{% endblock %}