
{% extends "base.html" %}
{% load static %}
{% block content %}
    
<p>
    <a class="btn btn-light" href="{% url 'asset_app_room_list' %}">
    room Listing
    </a>
</p>
    
<table class="table">
    <tr><td>Rum Navn</td><td>{{ object.name }}</td></tr>
    <tr><td>Afdeling</td><td>{{ object.location }}</td></tr>
    <tr><td>Billede sidst opdateret</td><td>{{ object.image_date }}</td></tr>
    <tr><td>Billede</td><td><img src="{% static object.image %}"> {{ object.image }}</td></tr>
    <tr><td>Sidst gennemgået</td><td>{{ object.last_inspected }}</td></tr>
    <tr><td>Noter</td><td>{{ object.notes }}</td></tr>
    <tr><td>Oprettede på denne side</td><td>{{ object.created }}</td></tr>
    <tr><td>Sidst opdateret på denne side</td><td>{{ object.last_updated }}</td></tr>
</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">Edit</a>
{% endblock %}