{% extends "pdf.html" %}
{% load static %}
{% block content %}

<table class="table">
    <tr><td><h1>Rum Navn</h1></td><td><h1>{{ object.name }} - {{ object.location }} </h1> </td></tr>
    {% if object.image %}
    <tr><td>Billede sidst opdateret</td><td>{{ object.image_date }}</td></tr>
    <tr><td>Billede</td><td><img src="{{ object.image.url }}" width="400"></td></tr>
    {% endif %}
    <tr><td>Sidst gennemgået</td><td>{{ object.last_inspected }}</td></tr>
    <tr><td>Noter</td><td>{{ object.notes|linebreaks }}</td></tr>
    <tr><td>Oprettede på denne side</td><td>{{ object.created }}</td></tr>
    <tr><td>Sidst opdateret på denne side</td><td>{{ object.last_updated }}</td></tr>
</table>


    <br/><br/><br/>
<h1>{{ object.name }}</h1>
                <table class="table">
            <tr class="table-dark">

                  <td>
                    {{ object.name }}
                </td>
                <td>Serie nummer</td>
                         <td>
                    <center>Udstyrs type</center>
                </td>
<td>
                    <center>Model</center>
                </td>


            </tr>
{% for object in room.asset_set.all %}


                <tr>
                    <td>{{ object.name }}
                    </td>
                <td>
                        {{ object.serial }}
                    </td>
                               <td>
                        <center>{{ object.model_hardware.asset_type }}</center>
                    </td>

                     <td>
                    <center>{{ object.model_hardware.brand }} - {{ object.model_hardware}}</center>
                </td>




                </tr>

         {% endfor %}

               </table>
{% endblock %}
