{% extends "base.html" %}
{% load static %}
{% block content %}
<p>
    <a class="btn btn-primary" href="{% url 'asset_app_room_list' %}">
    Rum oversigt
    </a>
<a class="btn btn-primary" href="{% url 'asset_app_room_create' %}">
    Opret nyt rum
    </a>
    <a class="btn btn-primary" href="{% url 'asset_app_asset_create' %}">Reg ny enhed</a>
<a class="btn btn-info" href="{% url 'asset_app_room_detail_to_pdf_save' object.pk  %}">
    Download pdf
    </a>
<a class="btn btn-success" href="{% url 'asset_app_room_excel_detail' object.pk%}">
    Download excel
    </a>
</p>

<br/><br/><br/>

<table class="table">
    <tr><td>Rum Navn</td><td>{{ object.name }}</td></tr>
    <tr><td>Afdeling</td><td>{{ object.location }}</td></tr>
    {% if object.image %}
    <tr><td>Billede sidst opdateret</td><td>{{ object.image_date }}</td></tr>
    <tr><td>Billede</td><td><img src="{{ object.image.url }} " width="400"></td></tr>
    {% endif %}
    <tr><td>Sidst gennemgået</td><td>{{ object.last_inspected }}</td></tr>
    <tr><td>Noter</td><td>{{ object.notes|safe}}</td></tr>
    <tr><td>Oprettede på denne side</td><td>{{ object.created }}</td></tr>
    <tr><td>Sidst opdateret på denne side</td><td>{{ object.last_updated }}</td></tr>
</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">Edit</a>
    {% link_id = object.id %}

    <br/><br/><br/>
<h1>{{ object.name }}</h1>
                <table class="table">
            <tr class="table-dark">

                  <td>
                    {{ object.name }}
                </td>
                <td>Serie nummer</td>
                         <td>
                    <center>Udstyrs type</center>
                </td>
<td>
                    <center>Model</center>
                </td>

                <td>
                    <center>Må udlånes</center>
                </td>
                <td>
                    <center>Slet</center>
                </td>
            </tr>
{% for object in room.asset_set.all %}


                     {% if object.missing %}
                            <tr class="table-danger">
                        {% else %}
                            <tr>
                        {% endif %}
                    <td>{{ object.name }} <a href="{{ object.get_absolute_url }}"
                                               class="badge rounded-pill bg-dark">Detaljer</a> <a href="{{ object.get_update_url }}"
                                             class="badge rounded-pill bg-dark">Rediger</a>


                        {% if  object.notes %}
                            <!-- Button trigger modal -->
                            <span class="badge rounded-pill bg-success" data-bs-toggle="modal"
                                  data-bs-target="#exampleModal{{ object.id }}">
  Note
</span>

                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal{{ object.id }}" tabindex="-1"
                                 aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Noter på {{ object.name }}</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        {{ object.notes|safe}}
                                    </div>

                                </div>
                            </div>
                                  </div>




                        {% endif %}


                    </td>
                <td>
                        {{ object.serial }}
                    </td>
                               <td>
                        <center>{{ object.model_hardware.asset_type }}</center>
                    </td>

                     <td>
                    <center>{{ object.model_hardware.brand }} - {{ object.model_hardware}}</center>
                </td>


                    <td>
                        <center>
                            {% if object.may_be_loaned == true %}
                            <a href="{% url 'asset_app_room_may_be_loaned_false' object.id link_id %}" class="btn btn-secondary btn-sm "
                                   tabindex="-1" role="button" aria-disabled="true">Ja</a>
                            {% else %}
                            <a href="{% url 'asset_app_room_may_be_loaned_true' object.id link_id %}" class="btn btn-secondary btn-sm "
                                   tabindex="-1" role="button" aria-disabled="true">Nej</a>
                            {% endif %}

                        </center>
                    </td>
                    <td>
                        <center><a href="#" class="btn btn-danger btn-sm "
                                   tabindex="-1" role="button" aria-disabled="true">Slet</a></center>
                    </td>
                </tr>

         {% endfor %}

               </table>
{% endblock %}
