
{% extends "base.html" %}
{% load static %}
{% block content %}
    
<p>
    <a class="btn btn-primary" href="{% url 'asset_app_routines_list' %}">
    Routine oversigt
    </a>
</p>
    
<table class="table">
    <tr><td>Beskrivelse</td><td>{{ object.name }}</td></tr>
    <tr><td>Lokation</td><td>{{ object.room }} - {{ object.room.location }}</td></tr>
    <tr><td>Gentages efter antale dage</td><td>{{ object.reoccurrence }}</td></tr>
    <tr><td>Noter</td><td>{{ object.notes|safe}}</td></tr>
    <tr><td>Sidst opdateret i databasen</td><td>{{ object.last_updated }}</td></tr>
    <tr><td>Oprettede i databasen</td><td>{{ object.created }}</td></tr>
</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">Rediger</a>

{% endblock %}