
{% extends "base.html" %}
{% load static %}
{% block content %}
    
<p>
    <a class="btn btn-light" href="{% url 'asset_app_routines_list' %}">
    Routines Listing
    </a>
</p>
    
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {{form.errors}}
    <div class="form-group row">
  <label class="col-sm-2 col-form-label" for="name">Navn: </label>
  <input class="form-control col-sm-10" id="name" type="text" name="name" value="{{ object.name }}">
  </div>
  <div class="form-group row">
  <label class="col-sm-2 col-form-label" for="reoccurrence">Gentages efter antale dage: </label>
  <input class="form-control col-sm-10" id="reoccurrence" type="number" name="reoccurrence" value="{{ object.reoccurrence }}">
  </div>
  <div class="form-group row">
  <label class="col-sm-2 col-form-label" for="notes">notes: </label>
  <input class="form-control col-sm-10" id="notes" type="text" name="notes" value="{{ object.notes }}">
  </div>
  <div class="form-group row">
  <label class="col-sm-2 col-form-label" for="created">created: </label>
  <input class="form-control col-sm-10" id="created" type="datetime-local" name="created" value="{{ object.created }}" disabled>
  </div>
  <div class="form-group row">
  <label class="col-sm-2 col-form-label" for="last_updated">last_updated: </label>
  <input class="form-control col-sm-10" id="last_updated" type="datetime-local" name="last_updated" value="{{ object.last_updated }}" disabled>
  </div>
  <input type="submit" value="Save" class="btn btn-primary">
</form>

{% endblock %}