<script>
// if dropdown loaner_type changed, then change textfield responsible_teacher_initials to required
console.log("Change!");
 var selectElement = document.getElementById("id_loaner_type");
 var textBoxElement = document.getElementById("id_responsible_teacher_initials");

 selectElement.onchange = function(){

    var selectedString = selectElement.options[selectElement.selectedIndex].value;

    if(selectedString == '1'){

       textBoxElement.required = true;
       textBoxElement.hidden = false;
       textBoxElement.style.border="1px solid red";

    }else{

       textBoxElement.required = false;
       textBoxElement.hidden = true;
       textBoxElement.style.border="";
    }
}

</script>
