<script>
// if dropdown loaner_type changed, then change textfield responsible_teacher_initials to required
console.log("jscript hide/show assigned teacher!!");
const date = new Date();
let year = date.getFullYear();
let month = date.getMonth() + 1;
let day = date.getDate();
if (month < 10) month = "0" + month;
if (day < 10) day = "0" + day;
const today = year + "-" + month + "-" + day;
console.log("Date today: "+today);
let datePlusOneMonth = new Date(year, month, day + 30);
let datePlusOneYear = new Date(year, month, day + 365);
let selectLonerType = document.getElementById("id_loaner_type");
let textBoxElementInitials = document.getElementById("id_responsible_teacher_initials");
let textBoxElementMail = document.getElementById("id_responsible_teacher_received_mail");
let selectReturnDate = document.getElementById("id_return_date");
let datePickerElementReturnDate = document.getElementById("id_return_date");



textBoxElementInitials.required = false;
textBoxElementInitials.hidden = true;
textBoxElementMail.hidden = true;

 selectLonerType.onchange = function(){

    let selectedLonerTypeString = selectLonerType.options[selectLonerType.selectedIndex].value;


    if(selectedLonerTypeString === '1'){

       textBoxElementInitials.required = true;
       textBoxElementInitials.hidden = false;
       textBoxElementMail.hidden = false;
       datePickerElementReturnDate.prop('maxDate', '+1m');

    }else{

       textBoxElementInitials.required = false;
       textBoxElementInitials.hidden = true;
       textBoxElementMail.hidden = true;
       datePickerElementReturnDate.prop('maxDate', '+1m');

    }
}
// if dropdown ReturnDate changes, then change textfield responsible_teacher_initials
selectReturnDate.onchange = function(){

    let selectedReturnDateString = selectReturnDate.value;
    let selectedLonerTypeString = selectLonerType.options[selectLonerType.selectedIndex].value;

    if(selectedReturnDateString === today){
        console.log("today("+ today +") matches return date("+ selectedReturnDateString +")");

       textBoxElementInitials.required = false;
       textBoxElementInitials.hidden = true;
       textBoxElementMail.hidden = true;

    }else if( selectedLonerTypeString === '1' && selectedReturnDateString === today){
        console.log("today("+ today +") , return date("+ selectedReturnDateString +")");

       textBoxElementInitials.required = false;
       textBoxElementInitials.hidden = true;
       textBoxElementMail.hidden = true;
    }else if(selectedReturnDateString !== today && selectedLonerTypeString === '2'){
        console.log("today("+ today +") , return date("+ selectedReturnDateString +")");

       textBoxElementInitials.required = false;
       textBoxElementInitials.hidden = true;
       textBoxElementMail.hidden = true;
    }else{
       console.log("today("+ today +") does not matches return date("+ selectedReturnDateString +")");
       textBoxElementInitials.required = true;
       textBoxElementInitials.hidden = false;
       textBoxElementMail.hidden = false;

    }
}

</script>
