<script>
// if dropdown loaner_type changed, then change textfield responsible_teacher_initials to required
console.log("jscript hide/show assigned teacher!!");
const date = new Date();
let year = date.getFullYear();
let month = date.getMonth() + 1;
let day = date.getDate();
if (month < 10) month = "0" + month;
if (day < 10) day = "0" + day;
const today = year + "-" + month + "-" + day;
console.log("Date today: "+today);
var selectLonerType = document.getElementById("id_loaner_type");
var textBoxElementInitials = document.getElementById("id_responsible_teacher_initials");
var textBoxElementMail = document.getElementById("id_responsible_teacher_received_mail");
var selectReturnDate = document.getElementById("id_return_date");


textBoxElementInitials.required = false;
textBoxElementInitials.hidden = true;
textBoxElementMail.hidden = true;

 selectLonerType.onchange = function(){

    var selectedLonerTypeString = selectLonerType.options[selectLonerType.selectedIndex].value;


    if(selectedLonerTypeString == '1'){

       textBoxElementInitials.required = true;
       textBoxElementInitials.hidden = false;
       textBoxElementMail.hidden = false;
       ;

    }else{

       textBoxElementInitials.required = false;
       textBoxElementInitials.hidden = true;
       textBoxElementMail.hidden = true;

    }
}

selectReturnDate.onchange = function(){

    var selectedReturnDateString = selectReturnDate.value;
    var selectedLonerTypeString = selectLonerType.options[selectLonerType.selectedIndex].value;

    if(selectedReturnDateString == today){
        console.log("today("+ today +") matches return date("+ selectedString +")");

       textBoxElementInitials.required = false;
       textBoxElementInitials.hidden = true;
       textBoxElementMail.hidden = true;

    }else if( selectedLonerTypeString == '1' && selectedReturnDateString == today){
        console.log("today("+ today +") , return date("+ selectedString +")");

       textBoxElementInitials.required = false;
       textBoxElementInitials.hidden = true;
       textBoxElementMail.hidden = true;
    }else if(selectedReturnDateString != today && selectedLonerTypeString == '2'){
        console.log("today("+ today +") , return date("+ selectedString +")");

       textBoxElementInitials.required = false;
       textBoxElementInitials.hidden = true;
       textBoxElementMail.hidden = true;
    }else{
       console.log("today("+ today +") does not matches return date("+ selectedString +")");
       textBoxElementInitials.required = true;
       textBoxElementInitials.hidden = false;
       textBoxElementMail.hidden = false;

    }
}

</script>
